html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  height: 100vh;
  width: 100%; /* Ensure it spans the full width */
  color: #ebeaf1;
  overflow: hidden; /* Prevent scrollbars from appearing */
}



.hero-content {
  max-width: 600px;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.highlight {
  color: #f1f1f0;
}

.hero-description {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.typing {
  color: #acbf8e;
  font-weight: bold;
  border-right: 2px solid #acbf8e;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: typing 3s steps(20, end), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blink {
  from {
      border-color: transparent;
  }
  to {
      border-color: #acbf8e;
  }
}

.hero-animation {
  position: relative;
  width: 300px;
  height: 300px;
}



